<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" , content="index, follow">
    <link rel="icon" , href="images/icons/favicon-16x16.svg" , type="image/x-icon" , sizes="16x16" />
    <title>
        vncpncept - Quên mật khẩu
    </title>
    <link rel="icon" , href="images/icons/favicon-16x16.png" , type="image/x-icon" , sizes="16x16" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/tool.css" />
    <link rel="stylesheet" href="css/main.css" />

</head>

<body class="overflow-hidden">
    <div class="wrapper">
        <div class="container__wrapper">
            <div class="flex justify-center items-center  mt-11">
                <div class="page__login max-w-[479px] w-full mx-auto grid overflow-auto mt-auto">
                    <a href="index.html" class="flex justify-center items-center max-w-[241px] w-full m-auto">
                        <img src="images/icons/icon__logo-login.svg" alt="logo" class="w-full max-w-full object-contain flex">
                    </a>

                    <form action="ForgotOtp.page.html" class=" pt-[17px] border-y border-[#ECECEC] h-[479px] mt-10">
                        <p class="text-[#43484E] font-semibold text-sm mb-5 text-center">
                            Nhập địa chỉ email để khôi phục tài khoản của bạn
                        </p>
                        <div class="mb-[15px]">
                            <label class="text-[#212529] font-semibold text-sm flex w-full mb-1 ">
                                Email
                            </label>
                            <input type="email" placeholder="Nhập email của bạn" class="forgotDisabled w-full flex h-10 px-3 rounded placeholder:text-[#AFB0B2] outline-none text-sm  border border-[#AFB0B2] focus:border-[#629CFC]" />
                        </div>

                        <button type="submit" disabled="true" class="submit w-full mt-6 mb-3 bg-[#919191] rounded overflow-hidden text-white text-sm h-10 hover:opacity-90 transition-all">
                            Tiếp theo
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/plugins/jquery.js"></script>
    <script type="text/javascript" src="js/plugins/slick.js"></script>
    <script type="text/javascript" src="js/plugins/tab.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
</body>

</html>
</body>

</html>